<div [ngClass]="layout.config.settings.layout_type" [class]="layout.config.settings.layout_version"></div>
<div class="page-wrapper" id="pageWrapper" [ngClass]="layout.config.settings.sidebar_type">
  <div [ngClass]="navmenu.closeSidebar ? 'page-header close_icon':'page-header'"
    [ngStyle]="{'display' :hidenav.show ?'none':'block'}">
    <mf-container-header></mf-container-header>
  </div>
  <div class="page-body-wrapper" [ngClass]=" {'scorlled' : hidenav.show }">
    <div class="sidebar-wrapper" [ngClass]="{'close_icon' : navmenu.closeSidebar}"
      [attr.data-layout]="layout.config.settings.icon">
      <mf-container-sidebar></mf-container-sidebar>
    </div>
    <div class="page-body" [attr.data-layout]="layout.config.settings.icon">
      <div class="container-fluid">
        <mf-container-breadcrumb></mf-container-breadcrumb>
      </div>
      <router-outlet></router-outlet>
    </div>
    <mf-container-footer></mf-container-footer>
  </div>
</div>
